@import '../../shared/variables.scss';

.container {
  padding: 1rem $container-padding 0 $container-padding;
  height: 40rem;
  display: flex;
  flex-direction: column;
  background-color: $header-color;
}

.searchBlock {
  margin: 6rem 6rem 0 11rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.sortPanel {
  margin-top: auto;
}
